# Problem Statement
Does travel affect performance  of a team?

In [25]:
# imports 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
# import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [9]:
pd.set_option('display.max_columns', None)

In [17]:
# File path for csv File
filepath = "./../data/raw/datathon_2024_dataset.csv"
astro_df = pd.read_csv(filepath, index_col=0)

In [18]:
astro_df.head()

,game_date,home_team,away_team,is_day_game,home_score,away_score,venue,venue_name,city,state,home_pa,home_1b,home_2b,home_3b,home_hr,home_fo,home_so,home_bb,home_hbp,away_pa,away_1b,away_2b,away_3b,away_hr,away_fo,away_so,away_bb,away_hbp
0,20000329,NYN,CHN,False,3,5,TOK01,Tokyo Dome,Tokyo,JAP,45,9,1,0,2,17,5,10,1,38,5,1,0,1,24,4,3,0
1,20000330,CHN,NYN,False,1,5,TOK01,Tokyo Dome,Tokyo,JAP,48,3,2,0,1,28,5,8,1,44,5,0,0,0,24,9,6,0
2,20000403,ATL,COL,True,2,0,ATL02,Turner Field,Atlanta,GA,34,4,2,0,0,19,7,2,0,32,5,0,0,2,17,6,1,1
3,20000403,CIN,MIL,True,3,3,CIN08,Cinergy Field,Cincinnati,OH,27,6,1,0,0,14,1,5,0,20,3,1,0,1,10,4,1,0
4,20000403,FLO,SFN,False,6,4,MIA01,Sun Life Stadium,Miami,FL,36,5,2,2,1,17,8,1,0,38,9,3,0,0,17,7,1,1

In [19]:
astro_df.shape

(56775, 28)

### Missing Data

In [21]:
# check for missing data
astro_df.isna().sum()

game_date      0
home_team      0
away_team      0
is_day_game    0
home_score     0
away_score     0
venue          0
venue_name     0
city           0
state          0
home_pa        0
home_1b        0
home_2b        0
home_3b        0
home_hr        0
home_fo        0
home_so        0
home_bb        0
home_hbp       0
away_pa        0
away_1b        0
away_2b        0
away_3b        0
away_hr        0
away_fo        0
away_so        0
away_bb        0
away_hbp       0
dtype: int64

In [23]:
# Remove duplicates if any
astro_df.drop_duplicates().shape

(56775, 28)